{% extends 'navbar.html' %}
{% load static %}
{% load bootstrap4 %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/board.css' %}?after">
{% endblock %}

{% block title %}
board
{% endblock %}

{% block content %}
        <br>
        <br>
        <br>
        <br>
<div class="board_container">
    <div class="board_content">
        <h3>게시글 수정하기</h3>
        <hr>
        <form method="POST" action="{% url 'photo_edit' photo.pk %}">
            {% csrf_token %}
            {% bootstrap_form photoForm %}
            <input name="images" id="images" type="file" accept="image/*" style="padding-bottom: 20px;">
            <input type="submit" class="btn btn-primary col-12" value="수정하기">
        </form>
    </div>
</div>
{% endblock%}