{% extends 'navbar.html' %}
{% load static %}
{% load bootstrap4 %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/board.css' %}?after">
{% endblock %}

{% block title %}
board
{% endblock %}

{% block content %}
        <br>
        <br>
        <br>
        <br>
<div class="board_container">
    <div class="board_title">
    </div>
    <div class="board_content">
        <h3>포토갤러리 글쓰기</h3>
        <hr>
        <form method="POST" action="{% url 'photo_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form photoForm %}
            <input name="images" id="images" type="file" accept="image/*" style="padding-bottom: 20px;">
            <input type="submit" class="btn btn-success col-12" value="글쓰기">
        </form>
    </div>
</div>
{% endblock%}