{% extends "navbar.html" %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?after">
{% endblock %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
    <div class='banner'>
        <div class='banner-info'>
            <h1>쉽고 다양하고 완벽하게,<br>나만의 이모티콘을 생성해 보세요</h1><br>
            <button type="button" class="create_btn" onClick="location.href='emo_create'">이모티콘 생성하러 가기</button>
        </div>
    </div>
    {% comment %} <div class="home_container">
        <div class="group">
            <div class="item" id="group_item_num1"></div>
            <div class="item" id="group_item_num2"></div>
            <div class="item" id="group_item_num3"></div>
            <div class="item" id="group_item_num4"></div>
            <div class="item" id="group_item_num5"></div>
          </div>
    </div> {% endcomment %}
{% endblock %}

{% comment %} https://wsss.tistory.com/2017 {% endcomment %}