{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?after">
{% endblock %}

{% block title %}
LOGIN
{% endblock %}

{% block content %}
<div class="wrap" style="text-align: center;">
    <div class='login_wrap'>
        <h2 class='login_title'>LOGIN</h2>
        <form class='login_form' method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder=" Id">
            <input type="password" name="password" placeholder=" Password">
            <input type="submit" class="login_btn" value="Login">
        </form>
    </div>
</div>
{% endblock %}