{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}?after">
{% endblock %}

{% block title %}
SIGN_UP
{% endblock %}

{% block content %}

{% csrf_token %}
<div class="wrap" style="text-align: center;">
    <div class='signup_wrap'>
        <h2 class='signup_title'>회원가입</h2>
        <form class='signup_form' method="POST">
            {% csrf_token %}
            <input name="username" type="text" placeholder=" ID">
            <input name="password1" type="password" placeholder=" Password">
            <input name="password2" type="password" placeholder=" Password Check">
            <input name="email" type="email" placeholder=" e-mail">
            <br>
            <input type="submit" class="signup_btn" value="Sign Up">
        </form>
    </div>
</div>
{% endblock %}