/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */

* {
    box-sizing: border-box;
    /* font-family: 'Jua', "돋움", sans-serif; */
}

html,
body {
    margin: 0;
    padding: 0;
}

#create {
    color: white;
}

.mainMenu>.create_item {
    display: inline-block;
}

.mainMenu>.create_item li {
    float: left;
    line-height: calc(84px + 10px);
    padding: 0 30px;
    list-style: none;
}

.mainMenu>.create_item li a{
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.mainMenu{
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 64px;
    height: 75px;
    background-color: #b59856;
    border-bottom-left-radius: 1.2vw;
    border-bottom-right-radius: 1.2vw;
}

.CreateEmotioconBanner {
    width: 100%;
    height: 125px;
    /* background-image: url("../img/banner2.jpg"); */
    background-color: rgba(163, 163, 163, 0.5);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: calc(84px + 75px - 11px);
    margin-bottom: 20px;
}

.CreateEmotioconBanner .text {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: titleText 1s ease-in-out;
}

@keyframes titleText {
    0% {
        transform: translateY(40px);
    }

    92% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.writeBtnBox {
    margin-top: 10px;
}

.writeBtn {
    border-radius: 7px;
    width: 100%;
    background: rgb(32, 59, 35);
    border: 1px solid rgb(32, 59, 35);
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.writeBtn .arrow {
    display: inline-block;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}

.CreateWrap {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 90%;
    height: 430px;
    margin: 20px 0 0 10px;
    padding: 0 10px;
}

.guide_text {
    text-align: center;
}

/* webcam */

.webcamWrap {
    border-radius: 7px;
    border: dashed 3px #eee;
    width: 90%;
    height: 100vh;
    margin: 20px 0 0 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video {
    border: dotted 3px #f09;
    height: 600px;
}

.capture_btn {
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: #6a6a6a;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: .25em;
    height: 39.2px;
    font-size: 16px;
    margin: 0px 15px;
}

@media screen and (max-width: 767px) {

    /* mobile */
    .container {
        display: grid;
        grid-template-rows: repeat(3, auto);
    }

    .CreateEmotioconBanner {
        height: 100px;
        margin-bottom: 0;
    }

    .CreateEmotioconBanner .text {
        font-size: 26px;
    }

    .wrapper {
        display: grid;
        /* flex-direction: column; */
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        padding: 0;
    }

    .sidebar {
        width: 100%;
    }

    .mainMenu {
        padding: 0;
        border-radius: 0;
    }

    .mainMenu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .mainMenu ul li a {
        font-size: 14px;
        padding: 12px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* tablet */
}

@media screen and (min-width:767px) {
    .mainMenu ul li a:hover {
        padding-left: 13px;
        background: #333;
        color: white;
    }

    .writeBtn:hover {
        background-color: #333;
        color: white;
        border: none;
    }
}