body {
    background-color: #fac240 !important;
    color: white !important;
}

.banner {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-image: url("../img/banner.png"); */
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: zoom_out 2.5s ease-in-out;
}

@keyframes zoom_out {
    0% {
        background-size: 130%;
    }

    100% {
        background-size: 100%;
    }
}

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    content: '';
    /* background: linear-gradient(to right, black, transparent); */
    /* background: rgba(0, 0, 0, 0.1); */
}

.banner-info {
    z-index: 1;
}

.create_btn {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.create_btn:hover {
    color: #fdd741;
    scale: 1.05;
    font-size: 14.5px;
}

.home_container {
    margin: 0;
    background-color: white;
    /* background: linear-gradient(135deg, #4DB560, #4DB560); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 80vh;
    color: #fdd741;
}

/* .home_container::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    content: '';
    background: rgba(0, 0, 0, 0.1);
} */

.item_description {
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_group {
    width: 60%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 20px;
}

.item {
    width: 8vw;
    height: 50vh;
    background-position: center;
    background-size: 50vh;
    margin: 0.3vw;
    border-radius: 3vw;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#group_item_num1 {
    background-image: url(../style1.png);
}

#group_item_num2 {
    background-image: url(../style2.png);
}

#group_item_num3 {
    background-image: url(../style3.png);
}

#group_item_num4 {
    background-image: url(../style4.png);
}

#group_item_num5 {
    background-image: url(../style5.png);
}

.home_footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40vh;
    background-color: #504a4a;
    padding-bottom: 20px;
}