@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fac240 !important;
    color: white !important;
}

.banner-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

.title span {
    transform: skew(-10deg);
    display: block;
    float: left;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
    min-width: 10px;
    min-height: 10px;
    position: relative;
}

.title:nth-child(1) {
    color: #e55643;
}

.title:nth-child(2) {
    color: #f1c83c;
}

.title:nth-child(3) {
    color: #2b9f5e;
}






/* .banner-title {
    margin: 0;
    font-size: 3em;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

.banner-title span {
    transform: scale(0.9);
    display: inline-block;
}

.banner-title span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.banner-title span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%, 100% {
        transform: scale(1) rotateZ(-3deg);
    }
} */





.banner {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-image: url("../img/banner.png"); */
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* animation: zoom_out 2.5s ease-in-out;    */
}

/* @keyframes zoom_out {
    0% {
        background-size: 130%;
    }

    100% {
        background-size: 100%;
    }
} */

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    content: '';
    /* background: linear-gradient(to right, black, transparent); */
    /* background: rgba(0, 0, 0, 0.1); */
}

.banner-info {
    z-index: 1;
}

.create_btn {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.create_btn:hover {
    color: #fdd741;
    scale: 1.05;
    font-size: 14.5px;
}

.home_container {
    margin: 0;
    padding: 80px 0;
    background-color: #f5fcf5;
    /* background: linear-gradient(135deg, #4DB560, #4DB560); */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none; */
    height: 100%;
    color: #222;
}

/* .home_container::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    content: '';
    background: rgba(0, 0, 0, 0.1);
} */

.item_description {
    padding-left: 200px;
    width: 39%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.item_description>h1 {
    color: #a38407;
}

.item_group {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 20px;
}

.item {
    width: 8vw;
    height: 50vh;
    background-position: center;
    background-size: 50vh;
    margin: 1vw;
    border-radius: 1.5vw;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid 0.1px #ccc;
}

#group_item_num1 {
    background-image: url(../img/style_1.png);
}

#group_item_num2 {
    background-image: url(../img/style_2.png);
}

#group_item_num3 {
    background-image: url(../img/style_3.png);
}

#group_item_num4 {
    background-image: url(../img/style_4.png);
}

#group_item_num5 {
    background-image: url(../img/style_5.png);
}

.home_footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 170px;
    background-color: #dbdbdb;
    padding: 30px 60px 30px 60px;
    font-family: 'Signika Negative', sans-serif;
    color: #616161;
}

@media screen and (max-width:768px) {

    /* 모바일 */
    .banner-title {
        font-size: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    /* tablet */
    .banner-title {
        font-size: 35px;
    }

}


/* 추가 */

.home_h1 {
    text-align: center;
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 0 3%;
}


/* hover styles */
.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;
}

.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    border-radius: 15px;
    border: 5px double gray;
    /* transform: scale(1.1); */
}

.location-title {
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(250, 194, 64, 0.3);
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
    border-radius: 15px;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
    .location-title {
        opacity: 1;
    }

    .location-image img {
        filter: blur(2px);
    }
}