* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#nav {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: rgba(77, 181, 96, 0.9); */
    z-index: 1;
}

#nav>a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 30px;
}

#nav>.sub_nav_bar {
    padding: 0 20px;
    position: absolute;
    right: 30px;
    display: inline-block;
}

#nav>.main_nav_bar {
    display: inline-block;
}

#nav>.main_nav_bar li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
    list-style: none;
}

#nav>.sub_nav_bar li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
    list-style: none;
}

a:visited {
    color: black;
}

@media screen and (max-width: 768px) {

    /* 모바일 */

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* tablet */

}