@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: Poppins;
}

#nav {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: rgba(77, 181, 96, 0.9); */
    z-index: 1;
}

#nav>a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 30px;
}

#nav>.sub_nav_bar {
    padding: 0 20px;
    position: absolute;
    right: 30px;
    display: inline-block;
}

#nav>.main_nav_bar {
    display: inline-block;
}

#nav>.main_nav_bar li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
    list-style: none;
}

#nav>.sub_nav_bar li {
    float: left;
    line-height: 80px;
    padding: 0 30px;
    list-style: none;
}

a:visited {
    color: #111;
}

.nav-item {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
}


.nav-item:focus,
.nav-item:hover {
    /* color: #ffba18; */
    /* color: #009e47; */
    color: #4DB560;
    transition: ease all 0.3s;
    font-size: 19px;
}

@media screen and (max-width: 768px) {

    /* 모바일 */

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* tablet */

}