* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#canvas-container {
    position: relative;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#create {
    color: white;
}

.mainMenu>.create_item {
    display: inline-block;
}

.mainMenu>.create_item li {
    float: left;
    line-height: calc(84px + 10px);
    padding: 0 30px;
    list-style: none;
}

.mainMenu>.create_item li a {
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.mainMenu {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 64px;
    height: 75px;
    background-color: #b59856;
    border-bottom-left-radius: 1.2vw;
    border-bottom-right-radius: 1.2vw;
    z-index: 4;
}

.container {
    margin-top: calc(84px + 75px - 11px + 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 153px);
}

.result_container {
    z-index: 2;
    margin-top: calc(84px + 75px - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 140px);
}

.img_container {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: calc(100vh - 140px);
}

.image_container {
    z-index: 2;
    width: calc(100vh - 29.5vh);
    height: calc(100vh - 29vh);
}

.upload_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 3px #dbdbdb;
    width: calc(100vh - 50.5vh);
    /* width: calc(100vh - 35.5vh); */
    height: calc(100vh - 35vh);
}

.filebox {
    margin-bottom: 40px;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: #6a6a6a;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: .25em;
}

#image_file {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#upload_img_view {
    width: calc(100vh - 50vh);
    /* width: calc(100vh - 35.75vh); */
    height: calc(100vh - 35.25vh);
    z-index: 2;
    border: 1px solid #ccc;
}

.submit_btn {
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: #6a6a6a;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: .25em;
    height: 39.2px;
    font-size: 16px;
    margin: 0px 15px;
}

#upload {
    padding-left: 13px;
    background: #333;
    color: white;
}

#download_btn {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: 0.3s ease-out;
    background-color: white;
}

#download_btn span:before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid #fdd741;
    border-left: 2px solid #fdd741;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
}

#download_btn span:after {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid #fdd741;
    border-bottom: 2px solid #fdd741;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
}

#download_btn:before {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid #fdd741;
    border-top: 2px solid #fdd741;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
}

#download_btn:after {
    width: 6px;
    height: 6px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid #fdd741;
    border-bottom: 2px solid #fdd741;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
}

#download_btn:hover {
    color: #fdd741;
    border: 0px;
    z-index: 2;

}

#download_btn:hover:before {
    opacity: 1;
    right: 5px;
    top: 5px;
    z-index: 2;
}

#download_btn:hover:after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
    z-index: 2;
}

#download_btn:hover span:before {
    opacity: 1;
    left: 5px;
    top: 5px;
    z-index: 2;
}

#download_btn:hover span:after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
    z-index: 2;
}

@media screen and (min-width:767px) {
    .mainMenu ul li a:hover {
        padding-left: 13px;
        background: #333;
        color: white;
    }
}