/* guide.css */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#create {
    color: white;
}

.mainMenu>.create_item {
    display: inline-block;
}

.mainMenu>.create_item li {
    float: left;
    line-height: calc(84px + 10px);
    padding: 0 30px;
    list-style: none;
}

.mainMenu>.create_item li a {
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.mainMenu {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: 64px;
    height: 75px;
    background-color: #b59856;
    border-bottom-left-radius: 1.2vw;
    border-bottom-right-radius: 1.2vw;
    z-index: 4;
}

.container {
    margin-top: calc(84px + 75px - 11px + 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 153px);
}

.webcamWrap {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

#video {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.capture_btn {
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: #6a6a6a;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: .25em;
    height: 39.2px;
    font-size: 16px;
    margin: 0px 15px;
}

#image_container {
    display: none;
    margin-top: 20px;
}

#webcam_image {
    width: 100%;
    max-width: 500px;
}

#webcam {
    padding-left: 13px;
    background: #333;
    color: white;
}