{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/guide.css' %}?after">
{% endblock %}

{% block title %}
Guide
{% endblock %}

{% block content %}
<div>
    <nav class="mainMenu">
        <ul class="create_item">
            <li><a href="/emo_create/" id="guide">Guide</a></li>
            <li><a href="/emo_create/upload_img">Upload a image</a></li>
            <li><a href="/emo_create/webcam">WebCam</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="CreateWrap">
            <br><h1>사용설명<h1><br><br>
            <h1 className='guide_text' style='color  :#b59856'>Upload a image</h1>
            <h2>1. 상단메뉴의 Upload a image를 클릭</br>2.사진을 업로드 후 이미지 서버 전송 버튼 클릭</br>3. 원하는 스타일 선택 후 이모티콘 생성 버튼 클릭</br>4.결과 이미지 다운로드</h2>
            <br></br>
            <h1 className='guide_text' style='color  :#b59856'>WebCam</h1>
            <h2>1. 상단메뉴의 WebCam을 클릭</br>2.카메라 화면에 맞춰 캡쳐</br>3. 위 Upload a image의 3,4번 같은 방식</h2>
            </br>
            <h4>주의. 웹캠 보유 컴퓨터 및 노트북만 가능</h4>
        </div>
    </div>
</div>
{% endblock %}