{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/guide.css' %}?after">
{% endblock %}

{% block title %}
Guide
{% endblock %}

{% block content %}
<div>
    <nav class="mainMenu">
        <ul class="create_item">
            <li><a href="/emo_create/">Guide</a></li>
            <li><a href="/emo_create/upload_img">Upload a image</a></li>
            <li><a href="/emo_create/webcam">WebCam</a></li>
        </ul>
    </nav>

    <section class="CreateEmotioconBanner">
        <h1 class="CreateEmotioconBanner_text">
            이 모 티 콘 제 작
            <br />
            &nbsp;&nbsp;&nbsp;(Banner)
        </h1>
    </section>
    <div class="container">
        <div class="CreateWrap">
            <br /><br /><br /><br />
            <h1 className='guide_text'>Guide 설명</h1>
        </div>
    </div>
</div> 
{% endblock %}