{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/upload_img.css' %}?after">
    <title>Upload_img</title>
</head>

<body>

    <div class="container">
        <ul style="display: flex; flex-direction: row; margin-bottom: 12px;">
            <li style="list-style: none; margin: 0 10px;">
                <a style="color: #653;" href="/emo_create">Guide</a>
            </li>
            <li style="list-style: none; margin: 0 10px;">
                <a style="color: #653;" href="/emo_create/upload_img">Upload a image</a>
            </li>
            <li style="list-style: none; margin: 0 10px;">
                <a style="color: #653;" href="/emo_create/webcam">WebCam</a>
            </li>
        </ul>
        <div class="upload_box">
            {% if not img.image %}
            <p class="message">Files to upload</p>
            {% endif %}

            {% if img.image %}
            <img src="{{ img.image.url }}" style="height: 400px;">
            {% endif %}
        </div>
        <br>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="filebox">
                <label for="image_file">업로드</label>
                <input id="image_file" name="image" type="file">
                <input class="submit_btn" type="submit" value="이미지 서버 전송">
            </div>
        </form>
    </div>
</body>
{% endblock %}