{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/webcam.css' %}?after">
{% endblock %}

{% block title %}
Webcam
{% endblock %}

{% block content %}
<div>
    <nav class="mainMenu">
        <ul class="create_item">
            <li><a href="/emo_create/">Guide</a></li>
            <li><a href="/emo_create/upload_img">Upload a image</a></li>
            <li><a href="/emo_create/webcam" id="webcam">WebCam</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="webcamWrap">
            <div>
                <video id="video" autoplay></video>
            </div>
            <button class="capture_btn" onclick="captureImage()">캡쳐</button>
            <div>
                <br>
                서버에 저장된 이미지는 아래의 리스트를 통해 확인 가능합니다.
            </div>
            <div id="image_container">
                <!-- 이미지를 렌더링할 태그 추가 -->
                <img src="" alt="&nbsp;Webcam Image" id="webcam_image">
            </div>
        </div>
    </div>
</div>

<script>
    const video = document.getElementById('video');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');
    const imageContainer = document.querySelector("#image_container");
    const webcamImage = document.querySelector("#webcam_image");

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
        });

    function captureImage() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        context.drawImage(video, 0, 0);
        // 캡쳐한 이미지를 base64로 인코딩하여 이미지 소스로 설정
        const imageDataURL = canvas.toDataURL('image/png');
        webcamImage.src = imageDataURL;
        imageContainer.style.display = "block";
    }
</script>
<!-- https://zinee-world.tistory.com/551 -->
{% endblock %}