{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/guide.css' %}?after">
{% endblock %}

{% block title %}
Webcam
{% endblock %}

{% block content %}

<div>
    <nav class="mainMenu">
        <ul class="create_item">
            <li><a href="/emo_create/">Guide</a></li>
            <li><a href="/emo_create/upload_img">Upload a image</a></li>
            <li><a href="/emo_create/webcam" id="webcam">WebCam</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="webcamWrap">
            <div>
                <video id="video" autoplay></video>
            </div>
            <button class="capture_btn" onclick="captureImage()">캡쳐</button>
            <div>
                <br>
                서버에 저장된 이미지는 아래의 리스트를 통해 확인 가능합니다.
            </div>
            <div>
                {% if images.image %}
                {{ image.image.url }}
                {% for image in images %}
                <img src="{{ image.image.url }}" width="200" height="150">
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    const video = document.getElementById('video');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
        });

    function captureImage() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        context.drawImage(video, 0, 0);
        canvas.toBlob(blob => {
            const formData = new FormData();
            formData.append('camera-image', blob);
            fetch('/emo_create/webcam/', {
                method: 'POST',
                body: formData
            });
        });
    }
</script>
<!-- https://zinee-world.tistory.com/551 -->
{% endblock %}